.crdbdy{
    background-color: #555555;
    /* opacity: 0.8; */
    color: #fff !important;
    text-align: justify;
    padding: 10px !important;
}

.crmsolutions{
    background-color: #cee6ff;
    color: #291571;
}


/* .procard {
    width: 100%;
    max-width: 300px;
    border-radius: 10px !important;
    margin: auto; 
}

@media (max-width: 427px){
    .procard {
        max-width: 250px;
        border-radius: 5px;
    }
} */
/* 

.procard {
    width: 100%;
    width: 300px; 
    border-radius: 10px !important;
    margin: auto;
    
}

@media (max-width: 427px){
    .procard {
        width: 200px;
        border-radius: 5px;
         
    }
} */

/* Ensure SwiperSlide content is centered */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card styling */
.procard {
  width: 100%;
  min-width: 300px;
  max-width: 400px;  /* prevent card from stretching too wide */
  border-radius: 10px !important;
  margin: auto;
  text-align: left !important;
}

@media (max-width: 427px) {
  .procard {
    max-width: 250px;
    border-radius: 5px;
    min-width: 200px;
  }
}
