.bgimagecontact{
  background-image: url("../assets/call-telephone-communication-phone-conversation-concept.jpg");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  opacity: 50%;
}
/* .bgimagecontact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 0;
} */
.textprimary{
    color: #f00005;
}