

.footer {
  color: black;
  padding-top: 20px;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}


.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}


.footer-section h2 {
  color: #fa6e43;
  font-size: 24px;
}


.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}


.footer-section p {
  font-size: 12px;
  line-height: 1.5;
}


.footer-section ul {
  list-style: none;
  padding: 0;
}


.footer-section ul li {
  margin: 8px 0;
}


.footer-section ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}


.footer-section ul li a:hover {
  color: #0000f7;
}


.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  /* color: white; */
  transition: color 0.3s;
}


.social-icons a:hover {
  color: #0000f7;
}

.footerarea{
  font-size: 8px !important;
}



.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* round size */
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  /* color: white; */
  font-size: 18px;
  margin-right: 10px;
  transition: all 0.3s ease;
}


.social-icons a:hover {
  background-color: red;
  /* color: #fff; */
  transform: scale(1.1); /* small zoom effect */
  box-shadow: 0 4px 10px rgba(250, 110, 67, 0.4);
}



