.missiontitle {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;


  color: #f00005 !important;

}


.missionpage{
    background-color:#222326;
}

.bgmission {
    background-image: url("../assets/glob.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.bgmission::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}
.mission-content {
    position: relative;
    z-index: 2;
    color: white;
    padding: 60px 20px;
    text-align: center;
}